$white: #fff;
$gray: #777;


$light-green: #05cab5;
$green: #04a997;
$dark-green: #038879;

$opacity-light-green: rgba(5, 202, 181, 0.5);
$opacity-green: rgba(3, 136, 121, 0.5);
$opacity-shadow: rgba(0,0,0, 0.2);
